body {
    overflow-x: hidden;
}

.font {
    font-family: "Poppins", sans-serif;
}
.font2 {
    font-family: "Anton", sans-serif;
}

.fs {
    font-size: 6em;
}

.nav-item:hover {
text-decoration-color: #E1FF30;
}

.nav li a{
    color:white;
}

.nav li a:hover {
    color: #E1FF30 !important; /* Usar !important para garantir que esta regra seja aplicada */
}

.row button{
    color: white;
}

.row p {
    text-align: justify;
}

#home .row span, #portifolio .row span {
    color: #E1FF30;
}

.row img {
    width: 75%;
    margin-bottom: 3em;
    border-radius: 10px;
}

.row h2, h3 {
    color: white;
}

#about > p {
    color: white;
}

.fs2 {
    font-size: 3.5em;
}

.carousel-inner img {
    margin-left: 4.5em;
}

.row button:hover {
color:#E1FF30;
font-weight: bold;
}

.row button a {
    text-decoration: none;
    color: white;
}

.row button a:hover {
    color: #E1FF30;
}

.portp {
    font-size: 4em;
    color: white;
}
#portifolio ul li a {
    border-color: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

#portifolio ul li {
    width: 15%;
    text-align: center;
}

.link2 {
    margin-left: 2em;
    font-weight: bold;
}

.tab-content {
    margin-left: 1.5em;
}

.tab-content p, .tab-content h5 {
    color: white;
}

.nav-portifolio button {
    border-color: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.nav-link:active {
    background-color:#E1FF30; 
    color: #fff;
}

